<article class="filtro-art input-flex">

    <section>
        <button data-menu="menu-filter-periodo" class="menu-dropdown btn-preto {% if periodo != 'mes' %}selecionado{% endif %}">
            Período <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

    <section>
        <button data-menu="menu-filter-tipo" class="menu-dropdown btn-preto {% if tipo != 'todos' %}selecionado{% endif %}">
            Tipo <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

    <section>
        <button data-menu="menu-filter-pagamento" class="menu-dropdown btn-preto {% if pagamento != 'todos' and tipo != 'presencas' %}selecionado{% endif %}">
            Pagamento <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

</article>


<nav id="menu-filter-periodo" class="menu">
    <p>Período</p>
    <ul>
        <button class="btn-preto {% if periodo == 'semana' %}selecionado{% endif %}"  onclick="filtrarHistorico('periodo', 'semana')">Esta semana</button>
        <button class="btn-preto {% if periodo == 'mes' %}selecionado{% endif %}" onclick="filtrarHistorico('periodo', 'mes')">Este mês</button>
        <button class="btn-preto {% if periodo == '3meses' %}selecionado{% endif %}" onclick="filtrarHistorico('periodo', '3meses')">3 meses</button>
        <button class="btn-preto {% if periodo == '6meses' %}selecionado{% endif %}" onclick="filtrarHistorico('periodo', '6meses')">6 meses</button>
    </ul>
</nav>


<nav id="menu-filter-tipo" class="menu">
    <p>Tipo de Registro</p>
    <ul>
        <button class="btn-preto {% if tipo == 'todos' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'todos')">Todos</button>
        <button class="btn-preto {% if tipo == 'presencas' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'presencas')">Apenas Presenças</button>
        <button class="btn-preto {% if tipo == 'pagamentos' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'pagamentos')">Apenas Pagamentos</button>
    </ul>
</nav>


<nav id="menu-filter-pagamento" class="menu">
    <p>Pagamento</p>
    <ul>
        <button class="btn-preto {% if pagamento == 'todos' %}selecionado{% endif %}" onclick="filtrarHistorico('pagamento', 'todos')">Todos</button>
        <button class="btn-preto {% if pagamento == 'pago' %}selecionado{% endif %}" onclick="filtrarHistorico('pagamento', 'pago')">Pagos</button>
        <button class="btn-preto {% if pagamento == 'pendente' %}selecionado{% endif %}" onclick="filtrarHistorico('pagamento', 'pendente')">Pendentes</button>
    </ul>
</nav>