<article class="filtro-art input-flex">

    <section>
        <button data-menu="menu-filter-periodo" class="menu-dropdown btn-preto">
            Período <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

    <section>
        <button data-menu="menu-filter-tipo" class="menu-dropdown btn-preto">
            Tipo <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

    <section>
        <button data-menu="menu-filter-pagamento" class="menu-dropdown btn-preto selecionado">
            Pagamento <i class="fa-solid fa-chevron-down"></i>
        </button>
    </section>

</article>


<nav id="menu-filter-periodo" class="menu">
    <p>Período</p>
    <ul>
        <button class="btn-preto">Esta semana</button>
        <button class="btn-preto">Este mês</button>
        <button class="btn-preto">3 meses</button>
        <button class="btn-preto">6 meses</button>
    </ul>
</nav>


<nav id="menu-filter-tipo" class="menu">
    <p>Tipo de Registro</p>
    <ul>
        <button class="btn-preto">Todos</button>
        <button class="btn-preto">Apenas Presenças</button>
        <button class="btn-preto">Apenas Pagamentos</button>
    </ul>
</nav>


<nav id="menu-filter-pagamento" class="menu">
    <p>Pagamento</p>
    <ul>
        <button class="btn-preto">Todos</button>
        <button class="btn-preto">Pagos</button>
        <button class="btn-preto">Pendentes</button>
    </ul>
</nav>