#usuarios, #arquivos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin-top: 8px;
}

.card-retangular, .flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-retangular>div>i{font-size: 38px; margin-right: 10px;}
.usuario-tipo, .arquivo-tipo{font-size: small;}

.btn-quadrado{
    padding: 8px 0!important;
    width: 40px;
}

/* responsividade básica */
@media (min-width: 600px){
  #usuarios, #arquivos{
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}