.center-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
main {
    flex-direction: column;
}
header {
    padding: 1.5rem clamp(1rem, 5vw, 3rem);
    color: black;
    border-bottom: solid var(--cinza-escuro) 1px;
}

header h1 {
    font-size: 1rem;
}
header h1, .notificacao-titulo {
    font-weight: 600;
}
.accent-notif {
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
    background-color: var(--accent);
    border-radius: 20px;
    padding: 5px;
}
.notificacao{
    position: relative;
    padding: 22px clamp(0.9rem, 5vw, 4rem);
    border-bottom: solid var(--cinza-claro) 1px;
}
.notif-content {
    max-width: 80vw;
    justify-content: normal;
}
.notificacao-titulo {
    margin-bottom: 4px;
}
.notificacao-desc {
    font-weight: 500;
    font-size: 0.85rem;
    overflow-wrap: break-word;
}
.notificacao-alerta{
    position: absolute;
    inset: 12px 5vw auto auto;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--accent);
}
.fa-exclamation {
    width: 25px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 14px;
}
.unread {
    color: var(--accent);
    font-weight: 700;
}
.display-notif {
    /* ou display: none; */
    opacity: 0;
    visibility: hidden;
}
@media (min-width: 700px){
    article.notificacao,
    article div > div {
        display: flex;
        align-items: center;
        gap: 26px;
    }
    .notif-content {
        gap: 26px;
    }

    article.notificacao {
        justify-content: center;
    }
    .notificacao-titulo{
        margin-bottom:0;
    }
    .notificacao-desc{
        font-size:1rem;
    }
    .notificacao-alerta {
        position: static;
    }
}