{% extends "base.html" %}

{% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
{% endblock %}

{% block conteudo %}
<section class="flx">
    <h2>Avaliações</h2>
    <button class="btn-vermelho">Importar <i class="fa-solid fa-download"></i></button>
</section>

<!--TODO: fazer importar, talvez exportar funcionar-->
<section id="arquivos">
    {% for avaliacao in avaliacoes %}
    <article class="card-branco arquivo card-retangular">
        <div class="arquivo-info flx">
            <i class="fa-solid fa-table-list"></i>
            <div>
                <h4 class="arquivo-nome">{{ avaliacao.nome }}</h4>
            </div>
        </div>

        <nav>
            <button data-menu="menu-arquivo-{{ avaliacao.id_avaliacao }}" class="menu-dropdown"><i class="fa-solid fa-ellipsis-vertical arquivo-mais"></i></button>
            <ul id="menu-arquivo-{{ avaliacao.id_avaliacao }}" class="menu">
                <li><a href="/avaliacoes/{{ avaliacao.id_avaliacao }}"><i class="fa-regular fa-eye"></i> Visualizar</a></li>
                <li><a href="/avaliacoes/exportar/{{ avaliacao.id_avaliacao }}"><i class="fa-solid fa-upload"></i> Exportar</a></li>
                <li>
                    <form action="/avaliacoes/excluir/{{ avaliacao.id_avaliacao }}" method="POST" onsubmit="return confirm('Deseja realmente excluir esta avaliação?');" >
                        <button type="submit">
                            <i class="fa-regular fa-trash-can"></i>
                            Excluir
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </article>
    {% endfor %}
</section>

{% endblock %}