{% extends "base.html" %}

{% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historico.css') }}">
{% endblock %}

{% block conteudo %}
<section class="container-f filtros">
    <section class="pesquisa" >
        {% include "components/barra_pesquisa.html" %}
    </section>

    {% include "components/dropdown_filtro.html" %}
</section>

<section class="titulo-h2 flx">
    <h2>Histórico Geral</h2>
    <button class="btn-vermelho import">Importar <i class="fa-solid fa-download"></i></button>
</section>

<section id="dados">

    {% for registro in historico %}
    <article class="card-branco hist-geral">
        <h3>{{ registro.data }}</h3>
        {% for aluno in registro.alunos %}
        <div class="hist-aluno" onclick="window.location.href='/historico_aluno/{{ aluno.id_aluno }}'">
            <div class="hist-aluno-header">
                <h4>{{ aluno.nome }}</h4>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="hist-info">
                {% if aluno.get('presente') %} <p> <i class="fa-solid fa-circle" style="color: #00D335;"></i> Presença </p> {% endif %}
                {% if aluno.get('pagamento') is not none %}
                    <p>
                        <i class="fa-solid fa-circle" style="color: var(--accent);"></i>
                        Pagamento R$ {{ "%.2f"|format(aluno.get('pagamento'))|replace(".", ",") }}
                        ({{ aluno.get('status_pagamento') }})
                    </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    
    </article>
    {% endfor %}
</section>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/historico.js') }}"></script>
{% endblock %}