{% extends "base.html" %}

{% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historico.css') }}">
{% endblock %}

{% block conteudo %}
<section class="container-f filtros">
    {% include "components/dropdown_filtro.html" %}
</section>

<section class="titulo-h2 flx">
    <h2>Histórico de <span id="nome-aluno">{{ data_aluno.aluno.nome }}</span></h2>
</section>

<section id="dados">
    <p>Última presença: {{ data_aluno.ultima_presenca }}</p>
    <p>Saldo devedor: R$ {{ "%.2f"|format(data_aluno.saldo_devedor)|replace(".", ",") }}</p>
    
    {% for registro in data_aluno.historico %}
    <article class="card-branco hist-geral">
        <h3>{{ registro.data }}</h3>
            <div class="hist-info">
                {% if registro.presente %}<p><i class="fa-solid fa-circle" style="color: #00D335;"></i>Presença</p>{% endif %}
                {% if registro.pagamento %} <p> <i class="fa-solid fa-circle" style="color: var(--accent);"> </i> Pagamento R${{ "%.2f"|format(registro.pagamento.valor)|replace(".", ",") }} ({{ registro.pagamento.status }}) </p> {% endif %}
            </div>
    </article>
    {% endfor %}
</section>
{% endblock %}