{% extends "base.html" %}

{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
<style>
    .informacoes-usuario{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .informacoes-usuario>article>p:last-child{color: var(--cinza); text-align: left;}
    .informacoes-usuario>article:not(:last-of-type){
        border-bottom: 1px solid var(--cinza-claro); 
        padding-bottom: 15px;
        width: auto;
    }

    .acoes{
        display: grid; 
        grid-template-columns: 1fr 1fr;
        color: var(--accent);
        text-transform: uppercase;
        font-weight: bold;
        padding: 0px;
    }
    .acoes>a:last-of-type{grid-column: 1 / -1;}
    .acoes>a{
        border-top: 1px solid var(--cinza-claro);
        border-right: 1px solid var(--cinza-claro);
        padding: 8px 0px;
        text-align: center;
    }

    @media (min-width: 600px) {
        main {
            padding: 56px 0 96px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .informacoes-usuario, .acoes {
            width: 100%;
            max-width: 581px;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
        }
        .informacoes-usuario > article.flx { padding-inline: 39px; }
        .acoes { display: flex; gap: 0; }
        .acoes > a { flex: 1; border: 1px solid var(--cinza-claro); }
    }
</style>
{% endblock %}

{% block conteudo %}
<section class="card-branco card-largo informacoes-usuario">
    <article class="usuario card-retangular">
        <div class="usuario-info flx">
            <i class="fa-solid fa-circle-user"></i>
            <h4 class="usuario-nome">{{ nome }}</h4>
        </div>
        
    </article>
    
    {% for r in registro %}
        <article class="flx">
            <p id="{{ r.coluna }}">{{ r.label }}</p>
            <P id="usuario-{{ r.coluna }}">{{ r.info }}</P>
        </article>
    {% endfor %}

</section>

<section class="card-branco card-largo acoes">
    {% if tipo|lower=='aluno' %} 
        <a href="{{ url_for('historico_aluno', id_aluno=id) }}"><i class="fa-regular fa-calendar-days"></i> HISTÓRICO</a>
        <a href="{{ url_for('avaliacoes_usuario', id=id) }}"><i class="fa-regular fa-file"></i> AVALIAÇÕES</a>
    {% endif %}
    <a href="{{ url_for('editar_usuario', tipo=tipo, id=id) }}"><i class="fa-regular fa-pen-to-square"></i> EDITAR</a>
</section>
{% endblock %}