<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão PROMO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificacoes.css') }}">
    {% endblock %}
</head>
<body class="bg-branco">

<header class="flx bg-branco">
    <a href="/presenca">
        <i class="fa-solid fa-chevron-left"></i>
    </a>

    <div class="center-flx">
        <i class="fa-regular fa-bell"></i>
        <h1>Notificações</h1>
        <p class="accent-notif">{{ nao_lidas }} não lidas</p> 
    </div>
    <div></div>
</header>
<main>
    {% block conteudo %}
    {% for alerta in alertas %}
    <article class="card-largo notificacao" data-id="{{ alerta.id_alerta }}"> 
        <div class="center-flx notif-content">
            <i class="fa-solid fa-exclamation"></i>

            <div>
                <p class="notificacao-titulo {% if alerta.status == 'PENDENTE' %}unread{% endif %}">{{ alerta.tipo_alerta }}</p>
                <p class="notificacao-desc">{{ alerta.descricao }}</p>
            </div>
            <span class="notificacao-alerta accent-notif {% if alerta.status != 'PENDENTE' %}display-notif{% endif %}"></span>
        </div>
    </article>
    {% endfor %}
    {% endblock %}
</main>

<script>
document.querySelectorAll('.notificacao').forEach(card => {

    card.addEventListener('click', async () => {

        const indicador = card.querySelector('.notificacao-alerta');

        if (indicador.classList.contains('display-notif')) {
            return;
        }

        indicador.classList.add('display-notif');

        try {
            await fetch(
                `/notificacoes/${card.dataset.id}/visualizar`,
                { method: 'PATCH' }
            );
        } catch (erro) {
            indicador.classList.remove('display-notif');
        }
    });

});
</script>
</body>
</html>