{% extends "base.html" %}
{% from "components/macros.html" import card_usuario %}

{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
{% endblock %}

{% block conteudo %}
<section class="card-branco card-largo">
    {% include "components/barra_pesquisa.html" %}
</section>

<section id="usuarios">
    {% for a in alunos %}
        {% call card_usuario(a.nome) %}
            <button class="btn-preto btn-quadrado">A</button> <!--TODO: tornar funcional-->
        {% endcall %}
        {% else %}
            <p class="vazio">Nenhum aluno encontrado.</p>
    {% endfor %}
</section>
{% endblock %}