{% extends "base.html" %}
{% from "components/macros.html" import card_usuario %}

{% block estilo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_retangular.css') }}">
{% endblock %}

{% block conteudo %}
<section class="card-branco card-largo filtros">
    {% include "components/barra_pesquisa.html" %}

    <article>
        <button class="btn-preto {% if tipo_usuario == 'aluno' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'aluno')">Aluno</button>
        <button class="btn-preto {% if tipo_usuario == 'administrador' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'administrador')">Administrador</button>
        <button class="btn-preto {% if tipo_usuario == 'estagiario' %}selecionado{% endif %}" onclick="filtrarHistorico('tipo', 'estagiario')">Estagiário</button>
    </article>
</section>

<section id="usuarios">
    {% for u in todos_usuarios %}
        {% call card_usuario(u.nome, u.tipo) %}
            {% set id=u.id_aluno if u.tipo|lower=='aluno' else u.id_usuario %}
            <nav>
                <button data-menu="menu-{{ u.tipo }}-{{ id }}" class="menu-dropdown"><i class="fa-solid fa-ellipsis-vertical usuario-mais"></i></button>
                <ul id="menu-{{ u.tipo }}-{{ id }}" class="menu">
                    <li><a href="{{ url_for('informacoes_usuario', tipo=u.tipo, id=id) }}"><i class="fa-regular fa-eye"></i> Checar Informações</a></li>
                    <li><a href="{{ url_for('editar_usuario', tipo=u.tipo, id=id) }}"><i class="fa-regular fa-pen-to-square"></i> Editar Informações</a></li>
                    <li><a href="{{ url_for('presenca', id=id) }}"><i class="fa-regular fa-calendar-check"></i> Dar Presença</a></li>
                </ul>
            </nav>
        {% endcall %}

        {% else %}
            <p class="vazio">Nenhum aluno encontrado.</p>
    {% endfor %}
</section>
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/historico.js') }}"></script>
{% endblock %}